@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap");

.noto-sans-warang-citi-regular {
  font-family: "Noto Sans Warang Citi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form-container {
  width: 70vw;
  height: 70vh;
}

.form-heading {
  font-weight: 700;
  font-size: 1.3rem;
  /* transition: all 0.3s; */
  color: rgb(7, 60, 106);
}

.input-group input, .input-group select {
    background-color: rgb(246, 234, 234);
    border-radius: 5px;
    height: 5vh;
    width: 15vw;
}

.input-group button {
    background-color: rgb(100, 109, 208);
    border-radius: 20px;
    width: 10vw;
    font-weight: 700;
}
